@import "~bootstrap/scss/bootstrap";
@import '_variables.scss';
html,
body {
  padding: 0;
  margin: 0;
  font-family: GreycliffCF;
}

input[type='checkbox']{
  width: toRem(18);
  height: toRem(18);
  position: absolute;  
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid #afafaf;
  box-shadow: none;
  font-size: toRem(18);
  background: $darkgrey;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: $darkgrey !important;
  border-color: $darkgrey !important;
}
