@import '_variables.scss';
.logo {
    width: toRem(317);
    height: toRem(53);
    margin: toRem(0) toRem(144) toRem(13) toRem(0);
    object-fit: contain;
  }

  .bgHeader {
    width: toRem(1440);
    height: toRem(80);
    padding: toRem(14) toRem(119) 0 toRem(120);
    background-color: $white !important;
  }

  .menuButton {
    width: toRem(56);
    height: toRem(19);
    margin: 0 toRem(40) toRem(10) 0;
    font-family: GreycliffCF-DemiBold;
    font-size: $global-font-size;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: toRem(0.57);
    text-align: center;
    color: black !important;
  
    // &:active:hover {
    //   font-weight: 600;
    //   color: $green !important;
    // }
  }
  
  .menuButtonActive{
    width: toRem(56);
    height: toRem(19);
    margin: 0 toRem(40) toRem(10) 0;
    font-family: $global-font-family;
    font-size: $global-font-size;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: toRem(0.57);
    text-align: center;
    font-weight: 600;
    color: $green !important;
  }

  .path2 {
    width: toRem(24);
    height: toRem(20);
    margin: toRem(10) toRem(56) toRem(0) toRem(16);
    object-fit: contain;
  }
 
  .register {
    width: toRem(185);
    height: toRem(40);  
    margin: toRem(6) toRem(0) toRem(20) toRem(61);
    padding: toRem(0) toRem(0.5);
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: toRem(0.57); 
    background-color: $green !important;

    p{
      color: $white !important;
      font-family: GreycliffCF-Bold;
      font-size: $global-font-size;
      text-align: center;
      margin: toRem(10) toRem(0) toRem(10) toRem(0);
    }
  }

 