@import '_variables.scss';

.gfnMotifBackgroundHero {
    height: toRem(400);
    margin-top: toRem(10);
    background-color:$darkgrey;
  }
  .searchBox{
      margin-top: toRem(80);

      .searchTitle {
        width: toRem(793);
        height: toRem(48);
        font-family: $global-font-size;
        font-size: toRem(40);
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:$white;
      }

      .searchDescription {
        width: toRem(793);
        height: toRem(52);
        margin: toRem(15) toRem(1) toRem(49) toRem(0);
        font-family:GreycliffCF-Regular;
        font-size: toRem(20);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.3;
        letter-spacing: normal;
        text-align: center;
        color: $white;
      }
  }

  .combinedShape {
    background-color:$white;
  }

  .searchInput {
    width: toRem(793);
    height: toRem(56);
    font-family:GreycliffCF-Regular;
    font-size: toRem(20);
    color:#8e9fad;
    background-color: $white;
  }
  